.head{
    text-align: center;
    font-size: 200%;
}

.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: rgb(105, 192, 236);
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: rgb(255, 255, 255);
    text-align: center;
  }
  
  .browser > h2, p {
    margin: 50px;
    font-size: 150%;
  }
  
  footer {
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    background-color: #007bff;
    color: white;
  }